.main-footer{
    margin-top: unset;
}
.carousel-item {
    height: calc(100vh - 56px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.carousel-item-1 {
    background-image: url("../img/divertir.jpg");
    


}
.carousel-item-2 {
    
    background-image: url("../img/divertir1.jpeg");
    
}
.carousel-item-3 {
   
    background-image: url("../img/divertir2.jpg") ;
}