
.main-header {
    width: 100%;
    
    padding-left: 20px;
    padding-right: 5px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(10,1,10,1) 85%, rgba(10,1,10,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(20%, rgba(255,255,255,1)), color-stop(85%, rgba(10,1,10,1)), color-stop(100%, rgba(10,1,10,1)));
    background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(10,1,10,1) 85%, rgba(10,1,10,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(10,1,10,1) 85%, rgba(10,1,10,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(10,1,10,1) 85%, rgba(10,1,10,1) 100%);
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(10,1,10,1) 85%, rgba(10,1,10,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#0a010a', GradientType=1 );
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}
.main-header a {

    color: white;
}

.logo {
    width: 70%;
    display: block;
    width: 115px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
}

.logo img {
    width: 70%;
}

.main-header ul {
    padding-top: 8px;
    float: right;
    
}

.main-header li {
    float: left;
    
}
.topo{
    padding-top: 70px;    
    padding-left: 20px;
    padding-right: 20px;
}
input {
    padding: 5px;
}
.main-footer {
    padding: 20px 0;
    margin-top: 40px;
    background: #272626;
    text-align: center;
}

.main-footer li,
.main-footer a {
    display: inline-block;
    color: white;
}

.main-footer a {
    padding: 10px 20px;
}

.main-footer p {
    margin: 30px 0 0;
}
.rodape {
    color: white;
}
.row {
    padding-top: 15px;
    padding-bottom: 15px;
}
.btn-nav {
    text-align: center;
}
.footer-a {
    color: white;
}
.justify-content-end{
    border-radius: 15%;
}
a {
    color: white;
    
}
nav link {
    
    text-decoration-color: white;;
}

.carousel-item {
    height: calc(100vh - 56px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.carousel-item-1 {
    background-image: url("../img/machuPicchu.jpg");
}
.carousel-item-2 {
    
    background-image: url("../img/machuPicchu1.jpg") ;
}
.carousel-item-3 {
   
    background-image: url("../img/machuPicchu2.jpg") ;
}
.titulo {
    padding: 5px;
    text-align: center;
    font-family: 'Open Sans';
    color: #030303;
}
.carousel-inner a {
    color: white;
    font-family: sans-serif;
    font-weight: 900;
    font-size: x-large;
}