@import url(https://fonts.googleapis.com/css?family=Karla);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300);

.wrap{
  padding:120px 30px;
  padding-bottom: 170px;
  font-size:62px;
  color:cadetblue;
  width:400px;
  font-family:'Karla';
  margin:30px auto;
  text-align:center;
  background-color: white;
  border-radius: 3%;
}
.title{
  text-align: center;
  margin: 80px auto;
  font-size: 100px;
  font-family: 'Karla';
  color: cadetblue;
}
.input-login{
  font-weight:300;
  border:0;
  border-bottom:1px solid #040d8a;
  width:100%;
  height:36px;
  font-size:26px;
  background-color: transparent;
  margin-top: 30px;
}

input-login:focus{
  outline:none;
  box-shadow:none;
  background:cadetblue;
  opacity: 0.1;
}

button{
  border:0;
  background:transparent;
  padding:5px;
  margin-top:50px;
  position:relative;
  outline:0;
  font-family: 'Karla';
}

.buttonafter:after{
content:'';
display:block;
position:absolute;
top:8px;
left:100%; /*should be set to 100% */
width:0;
height:0;
border-color: transparent transparent transparent #14a03d; /*border color should be same as div div background color*/
border-style: solid;
border-width: 5px;

}

.forgot{
  background:#a0a0a0;
  color:#fff;
  float:left;
}

.login{
  background:#a0a0a0;
  color:#fff;
  float:right;
}

.login.buttonafter {
    background:#14a03d;
}