/* Reset */
/* Green DBC: #39b54a */
/* Blue DBC: #007aff */

nav ul,
body {
    margin: 0;
}

nav ul {
    padding: 0;
    list-style: none;
    margin-top: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #666;
}
a:hover {
    text-decoration: underline;
}