body{
  background-color: aquamarine;
  margin: 0 15%;
}
a{
  text-decoration:none;
}
a:link, a:visited {
	text-decoration: none
	}
a:hover {
	text-decoration: none;
	}
a:active {
	text-decoration: none
  }
  input{
    height: 20px;
    width: 230px;
    background-color: oldlace;
    margin-bottom: 3%;
  }
  .filterDigital{
    margin-left: 550px;
  }