/* Header */



.main-header {
    width: 100%;
    padding-left: 20px;
    padding-right: 5px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.logo {
    display: block;
    width: 115px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
}

.logo img {
    width: 70%;
}

.main-header ul {
    float: right;
}

.main-header li {
    float: left;
}
/*@media (max-width: 640px){
    .main-header li,
    .main-header ul{
        float: none;
        clear: both;
    }
}

.main-header ul a {
    display: block;
    padding: 15px;
}
#mobile-menu,
.mobile-menu {
    display: none;
}
@media (max-width: 640px){
    .main-header ul{
        display: none;
    }
    .mobile-menu{
        display: block;
        width: 45px;
        height: 45px;
        padding: 10px;
        margin-top: 3px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background: #fff;        
        float: right;
        box-sizing: border-box;
    }
    .mobile-menu span {
        display: block;
        height: 3px;
        border-radius: 4px;
        background: #999;
    }
    #mobile-menu:checked + ul {
        display: block;
    }
    .nav{
        padding: 15px;
    }
}