/* Footer */

.main-footer {
    padding: 20px 0;
    margin-top: 40px;
    background: #272626;
    text-align: center;
}

.main-footer li,
.main-footer a {
    display: inline-block;
    color: white;
}

.main-footer a {
    padding: 10px 20px;
}

.main-footer p {
    margin: 30px 0 0;
}
.rodape {
    color: white;
}
