.topo{
    padding-top: 70px;    
    padding-left: 20px;
    padding-right: 20px;
}
input {
    padding: 5px;
}
.row {
    padding-top: 15px;
    padding-bottom: 15px;
}
.btn-nav {
    text-align: center;
}
.footer-a {
    color: white;
}